.profile {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.profile::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.profile > div {
  scroll-snap-align: start;
  height: 100vh;
}

.contact-section {
  height: 300px !important;
  scroll-snap-align: none;
  padding: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.section-contact {
  height: 300px !important;
}

.section {
  font-size: 1.5rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 20px;
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
}

.skills-container,
.tools-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px; /* 아이템 사이의 간격 */
}

.skill-item,
.tool-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-icon,
.tool-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  object-fit: contain;
}

.about-content {
  margin: 0 auto;
  min-width: 800px;
  padding: 20px;
  text-align: left;
}

.typing-text {
  font-weight: bold;
}

.highlight {
  color: #61dafb;
  font-weight: bold;
}

.breakable {
  display: inline;
}

@media (max-width: 768px) { /* 원하는 브레이크포인트로 조정 가능 */
  .breakable {
    width: 100%;
  }

  .breakable::after {
    content: '\A';
    white-space: pre;
  }
}
