.project-container {
    display: flex;
    gap: 20px;
}

.project-card {
    width: 15em;
    height: 18em;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.project-info {
    margin-top: -10px;
    padding: 15px;
    background-color: #5a5a5a;
    height: 100%;
}

.project-info h3 {
    margin: 0 0 10px 0;
    font-size: 30px;
    color: #eeeeee;
}

.project-description {
    font-size: 15px;
    color: #c0c0c0;
}

.project-keywords {
    position: absolute;
    bottom: 0%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .project-keyword {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    color: white;
    background-color: #232323;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
  }
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-card:hover .project-overlay {
    opacity: 1;
}

.overlay-content {
    text-align: center;
    color: white;
}

.project-buttons {
    display: grid;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    align-content: space-around;
}

.detail-button,
.site-button,
.github-button {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.detail-button:hover,
.site-button:hover,
.github-button:hover {
    background-color: white;
    color: black;
}
